<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourites</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/modal.css" />
    <script
      type="module"
      src="../modules/file-management/favourites-handler.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/file-management/share-file-modal.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item" href="/home">All files</a>
        <a class="menu-item active" href="/favourites">Favourites</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="logout-button" href="/logout">Logout</a>
      </div>

      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="files-header">Favourites</div>

            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search all files"
            />

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">
                    File <% if (file.folderName != 'not-in-folder') { %> (in <%=
                    file.folderName %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button class="download-button">Download</button>
                    <button class="delete-file-button">Delete</button>
                    <button class="favourite-button">
                      Remove from favourites
                    </button>
                    <button
                      class="share-file-button"
                      data-uuid="<%= file.uuid %>"
                    >
                      Share
                    </button>
                  </div>
                </div>
              </div>

              <!-- Share file modal -->
              <div id="share-file-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="share-file-header">Share this file</div>
                  <hr />
                  <div class="modal-text">
                    To share this file, copy the shareable link below.
                  </div>
                  <div class="modal-subtext">
                    Anyone with this link can view this file.
                  </div>
                  <br />
                  <button id="cancel-share-button">Cancel</button>
                  <a
                    class="copy-link-button"
                    href="http://localhost:3000/share/<%= file.uuid %>"
                    >Copy link</a
                  >
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
