<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourites - Filebase</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/modal.css" />
    <link rel="icon" type="image/png" href="assets/images/favicon.png"/>
    <script
      type="module"
      src="../modules/file-management/favourites-handler.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/folder-management/folder-favourites-handler.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/file-management/share-item-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../utilities/file-search.js"
      defer
    ></script>
    <script
      type="module"
      src="../utilities/track-current-folder.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item" href="/home">All files</a>
        <a class="menu-item" href="/shared">Shared</a>
        <a class="menu-item active" href="/favourites">Favourites</a>
        <a class="menu-item" href="/deleted">Deleted files</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="settings-button" href="/settings">Settings</a>
        <a class="logout-button" href="/logout">Log out</a>
      </div>

      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="page-header">Favourites</div>

            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search"
            />

            <% if (uploadedFiles.length === 0 && uploadedFolders.length === 0) { %>
            <div class="empty-text-header">No favourites have been added</div>
            <div class="empty-text">
              Any files or folders you favourite will appear here.
            </div>
            <% } %>

            <div class="uploaded-folders-container">
              <% uploadedFolders.forEach(function(folder) { %>
              <div class="folder-container">
                <div class="folder-item">
                  <a
                    class="uploaded-folder"
                    href="/folder/<%= folder.folderName %>"
                    ><%= folder.folderName %></a>
                  <div class="type-subtext">
                    Folder <% if (folder.parentFolder != 'not-in-folder') { %> (in <%=
                    folder.parentFolder %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button class="delete-folder-button">Delete</button>
                    <button class="folder-favourite-button">Remove from favourites</button>
                    <button class="share-folder-button" data-uuid="<%= folder.uuid %>">Share</button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/files/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">
                    File <% if (file.folderName != 'not-in-folder') { %> (in <%=
                    file.folderName %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button class="download-file-button">Download</button>
                    <button class="delete-file-button">Delete</button>
                    <button class="file-favourite-button">Remove from favourites</button>
                    <button class="share-file-button" data-uuid="<%= file.uuid %>">Share</button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>

        <!-- Share folder modal -->
        <div id="share-folder-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-folder-header">Share this folder</div>
            <div class="folder-name"></div>
            <hr />
            <div class="modal-text">
              To share this folder, create or copy a shareable link below.
            </div>
            <div class="modal-subtext">
              Anyone with this link can view this folder and its contents (only files) -- even non-Filebase users.
            </div>
            <div class="modal-subtext" style="margin-top: 25px">
              Links expire after 7 days.
            </div>
            <div class="modal-subtext" style="margin-top: 10px">
              For more granular control, you may generate a new link at anytime
              or delete it. Both will cause the link to no longer work for
              anyone who has it.
            </div>
            <br />
            <div class="button-container">
              <button id="cancel-folder-share-button">Cancel</button>
              <a
                class="copy-folder-link-button"
                href="http://localhost:3000/share/folder/<%= folderUuid %>"
                >Copy link</a
              >
              <button class="create-folder-link-button">Create new link</button>
              <button class="delete-folder-link-button">Delete link</button>
            </div>
          </div>
        </div>

        <!-- Share file modal -->
        <div id="share-file-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-file-header">Share this file</div>
            <div class="file-name"></div>
            <hr />
            <div class="modal-text">
              To share this file, create or copy a shareable link below.
            </div>
            <div class="modal-subtext">
              Anyone with this link can view this file.
            </div>
            <div class="modal-subtext" style="margin-top: 25px">
              Links expire after 7 days.
            </div>
            <div class="modal-subtext" style="margin-top: 10px">
              For more granular control, you may generate a new link at anytime
              or delete it. Both will cause the link to no longer work for
              anyone who has it.
            </div>
            <br />
            <div class="button-container">
              <button id="cancel-file-share-button">Cancel</button>
              <a
                class="copy-file-link-button"
                href="http://localhost:3000/share/file/<%= fileUuid %>"
                >Copy link</a
              >
              <button class="create-file-link-button">Create new link</button>
              <button class="delete-file-link-button">Delete link</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
