<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Filebase</title>
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/modal.css" />
    <script type="module" src="main.js" defer></script>
    <script
      type="module"
      src="../modules/file-management/share-file-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/folder-management/create-folder-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/folder-management/create-folder-handler.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item active" href="/home">All files</a>
        <a class="menu-item" href="/favourites">Favourites</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="logout-button" href="/logout">Logout</a>
      </div>

      <div class="main-content">
        <button class="create-folder-button">Create folder</button>

        <div class="wrapper">
          <div class="all-files-section">
            <div class="files-header">All files and folders</div>
            <div class="choose-upload">Upload</div>
            <div class="upload-buttons-container">
              <form
                id="upload-form"
                action="/upload-file"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  id="choose-file"
                  type="file"
                  name="file"
                  style="display: none"
                />
                <input id="upload-file-button" type="button" value="File" />
                <input
                  type="hidden"
                  id="upload-context"
                  name="context"
                  value="default"
                />
              </form>

              <form
                id="upload-folder-form"
                action="/upload-folder"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  id="choose-folder"
                  type="file"
                  name="folder"
                  webkitdirectory
                  multiple
                  style="display: none"
                />
                <input id="upload-folder-button" type="button" value="Folder" />
              </form>
            </div>

            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search all files and folders"
            />

            <div class="uploaded-folders-container">
              <% uploadedFolders.forEach(function(folder) { %>
              <div class="folder-container">
                <div class="folder-item">
                  <a
                    class="uploaded-folder"
                    href="/folder/<%= folder.folderName %>"
                    ><%= folder.folderName %></a
                  >
                  <div class="type-subtext">Folder</div>
                  <div class="action-buttons-container">
                    <button class="delete-folder-button">Delete</button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">File</div>
                  <div class="action-buttons-container">
                    <button class="download-button">Download</button>
                    <button class="delete-file-button">Delete</button>
                    <button class="favourite-button"><%= file.favouriteButtonText %></button>
                    <button
                      class="share-file-button"
                      data-uuid="<%= file.uuid %>"
                    >
                      Share
                    </button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>

        <!-- Share file modal -->
        <div id="share-file-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-file-header">Share this file</div>
            <hr />
            <div class="modal-text">
              To share this file, copy the shareable link below.
            </div>
            <div class="modal-subtext">
              Anyone with this link can view this file. Access is view-only.
            </div>
            <br />
            <button id="cancel-share-button">Cancel</button>
            <a
              class="copy-link-button"
              href="http://localhost:3000/share/<%= uuid %>"
              >Copy link</a
            >
          </div>
        </div>

        <!-- Create folder modal -->
        <div id="create-folder-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <form id="folder-form">
              <label for="folder-name">Enter a name for your new folder</label>
              <br />
              <input
                type="text"
                id="folder-name-input"
                name="folder-name"
                placeholder="Enter folder name"
              />
              <br />
              <input type="button" id="cancel-button" value="Cancel" />
              <input type="submit" id="create-button" value="Create" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
