<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fileName %> - Filebase</title>
    <link rel="stylesheet" href="/styles/preview.css" />
    <link rel="icon" type="image/png" href="../assets/images/favicon.png" />
    <script
      type="module"
      src="/modules/file-management/download.js"
      defer
    ></script>
    <script
      type="module"
      src="/utilities/back-button-handler.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <button class="back-button">Back</button>
      <div class="preview-card">
        <div class="file-preview-container">
          <div class="preview-header">File preview</div>
          <div class="file-name"><%= fileName %></div>
          <div class="folder-name">
            <% if (folderName != 'not-in-folder') { %> Saved in <%= folderName
            %> <% } %>
          </div>
          <hr />
          <% if (textFilePreview) { %>
          <pre class="text-file-preview"><%= textFilePreview %></pre>
          <% } %>

          <img id="file-preview" src="<%= fileData %>" />

          <% if (audioData) { %>
          <audio
            controls
            controlsList="nodownload"
            id="audio-preview"
            src="<%= audioData %>"
          ></audio>
          <% } %> <% if (videoData) { %>
          <video
            controls
            controlsList="nodownload"
            id="video-preview"
            src="<%= videoData %>"
          ></video>
          <% } %>

          <button class="download-file-button">Download</button>
        </div>
      </div>
    </div>
  </body>
</html>
