<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folderName %> - Filebase</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <script
      type="module"
      src="/modules/modal/share-item-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="/modules/utilities/file-search.js"
      defer
    ></script>
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="page-header"><%= folderName %></div>
            <div class="subtext">You are currently viewing this folder through a shared link.</div>
            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search all files"
            />

            <% if (uploadedFiles.length === 0) { %>
            <div class="empty-text-header">This folder has no files</div>
            <% } %>

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/files/<%= file.fileName %>/users/<%= file.userId %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">File</div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
