<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourites</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/modal.css" />
    <script
      type="module"
      src="../modules/file-management/share-file-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/file-management/shared-files.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item" href="/home">All files</a>
        <a class="menu-item active" href="/shared">Shared</a>
        <a class="menu-item" href="/favourites">Favourites</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="logout-button" href="/logout">Logout</a>
      </div>

      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="files-header">Shared files</div>

            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search all files"
            />

            <% if (uploadedFiles.length === 0) { %>
            <div class="empty-text-header">
              You have not shared any files yet
            </div>
            <div class="empty-text">
              Any files that you share will appear here.
            </div>
            <% } %>

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">
                    File <% if (file.folderName != 'not-in-folder') { %> (in <%=
                    file.folderName %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button
                      class="share-file-button"
                      data-uuid="<%= file.uuid %>"
                    >
                      Shared link settings
                    </button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>

        <!-- Share file modal -->
        <div id="share-file-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-file-header">Link settings</div>
            <div class="file-name"></div>
            <hr />
            <div class="modal-text">Anyone with a link can view this file.</div>
            <div class="modal-subtext" style="margin-top: 25px">
              Links expire after 7 days.
            </div>
            <div class="modal-subtext" style="margin-top: 10px">
              Creating a new link will immediately revoke access to the file
              through the old link - it will also reset the expiration time.
              Deleting the link will cause it to no longer work for anyone who
              has it.
            </div>
            <br />
            <div class="button-container">
              <button id="cancel-share-button">Cancel</button>
              <a
                class="copy-link-button"
                href="http://localhost:3000/share/<%= uuid %>"
                >Copy link</a
              >
              <button class="create-link-button">Create new link</button>
              <button class="delete-link-button">Delete link</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
