<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared files - Filebase</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/modal.css" />
    <script
      type="module"
      src="../modules/file-management/share-file-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../modules/folder-management/share-folder-modal.js"
      defer
    ></script>
    <script
      type="module"
      src="../utilities/share-modal-handler.js"
      defer
    ></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item" href="/home">All files</a>
        <a class="menu-item active" href="/shared">Shared</a>
        <a class="menu-item" href="/favourites">Favourites</a>
        <a class="menu-item" href="/deleted">Deleted files</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="settings-button" href="/settings">Settings</a>
        <a class="logout-button" href="/logout">Logout</a>
      </div>

      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="page-header">Shared files and folders</div>

            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search"
            />

            <% if (uploadedFiles.length === 0 && uploadedFolders.length === 0) { %>
            <div class="empty-text-header">
              You have not shared any files or folders yet
            </div>
            <div class="empty-text">
              Anything that you share can be found here.
            </div>
            <% } %>

            <div class="uploaded-folders-container">
              <% uploadedFolders.forEach(function(folder) { %>
              <div class="folder-container">
                <div class="folder-item">
                  <a
                    class="uploaded-folder"
                    href="/folder/<%= folder.folderName %>"
                    ><%= folder.folderName %></a
                  >
                  <div class="type-subtext">
                    Folder <% if (folder.parentFolder != 'not-in-folder') { %> (in <%=
                    folder.parentFolder %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button
                      class="share-folder-button"
                      data-uuid="<%= folder.uuid %>"
                    >
                      Link settings
                    </button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">
                    File <% if (file.folderName != 'not-in-folder') { %> (in <%=
                    file.folderName %>) <% } %>
                  </div>
                  <div class="action-buttons-container">
                    <button
                      class="share-file-button"
                      data-uuid="<%= file.uuid %>"
                    >
                      Link settings
                    </button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>

        <!-- Share folder modal -->
        <div id="share-folder-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-folder-header">Link settings</div>
            <div class="folder-name"></div>
            <hr />
            <div class="modal-text">
              Anyone with this link can view this folder and its contents (only files) -- even non-Filebase users.
            </div>
            <div class="modal-subtext" style="margin-top: 25px">
              Links expire after 7 days.
            </div>
            <div class="modal-subtext" style="margin-top: 10px">
              Creating a new link will immediately revoke access to the folder
              through the old link - it will also reset the expiration timer.
              Deleting the link will cause it to no longer work for anyone who
              has it.
            </div>
            <br />
            <div class="button-container">
              <button id="cancel-folder-share-button">Cancel</button>
              <a
                class="copy-folder-link-button"
                href="http://localhost:3000/share-folder/<%= folderUuid %>"
                >Copy link</a
              >
              <button class="create-folder-link-button">Create new link</button>
              <button class="delete-folder-link-button">Delete link</button>
            </div>
          </div>
        </div>

        <!-- Share file modal -->
        <div id="share-file-modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="share-file-header">Link settings</div>
            <div class="file-name"></div>
            <hr />
            <div class="modal-text">Anyone with a link can view this file -- even non-Filebase users.</div>
            <div class="modal-subtext" style="margin-top: 25px">
              Links expire after 7 days.
            </div>
            <div class="modal-subtext" style="margin-top: 10px">
              Creating a new link will immediately revoke access to the file
              through the old link - it will also reset the expiration timer.
              Deleting the link will cause it to no longer work for anyone who
              has it.
            </div>
            <br />
            <div class="button-container">
              <button id="cancel-share-button">Cancel</button>
              <a
                class="copy-link-button"
                href="http://localhost:3000/share/<%= fileUuid %>"
                >Copy link</a
              >
              <button class="create-link-button">Create new link</button>
              <button class="delete-link-button">Delete link</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
