<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fileName %> - Filebase</title>
    <link rel="stylesheet" href="../styles/preview.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="preview-card">
        <div class="file-preview-container">
          <div class="preview-header">File preview</div>
          <div class="file-name"><%= fileName %></div>
          <div class="permissions-text">View-only</div>
          <hr />
          <pre class="text-file-preview"><%= textFilePreview %></pre>
          <img id="file-preview" src="<%= fileData %>" />
          <% if (audioData) { %>
            <audio controls id="audio-preview" src="<%= audioData %>"></audio>
          <% } %>
          <% if (videoData) { %>
            <video controls id="video-preview" src="<%= videoData %>"></video>
          <% } %>      

          <div class="bottom-text">
            <div class="shared-file-text">
              You are currently viewing this file through a shared link.
            </div>
            <a class="logotype" href="/">Filebase</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
