<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fileName %> - Filebase</title>
    <link rel="stylesheet" href="/styles/preview.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="icon" type="image/png" href="../assets/images/favicon.png" />
    <script type="module" src="/modules/services/download.js" defer></script>
    <script
      type="module"
      src="/modules/modals/share-modal-preview-page.js"
      defer
    ></script>
    <script
      type="module"
      src="/modules/utilities/back-button-handler.js"
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <a class="back-button">Back</a>
      <div class="preview-card">
        <div class="file-preview-container">
          <div class="preview-header">File preview</div>
          <div class="file-name"><%= fileName %></div>
          <div class="folder-name">
            <% if (folderName != 'not-in-folder') { %> Saved in <%= folderName
            %> <% } %>
          </div>
          <hr />
          <% if (textFilePreview) { %>
          <pre class="text-file-preview"><%= textFilePreview %></pre>
          <% } %>

          <img id="file-preview" src="<%= fileData %>" />

          <% if (audioData) { %>
          <audio
            controls
            controlsList="nodownload"
            id="audio-preview"
            src="<%= audioData %>"
          ></audio>
          <% } %> <% if (videoData) { %>
          <video
            controls
            controlsList="nodownload"
            id="video-preview"
            src="<%= videoData %>"
          ></video>
          <% } %>

          <div class="button-container">
            <button class="download-file-button">Download</button>
            <button class="share-file-button">Share</button>
          </div>
        </div>
      </div>

      <!-- Share file modal -->
      <div id="share-file-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="share-file-header">Share this file</div>
          <div class="file-name" style="margin: 0;"></div>
          <hr />
          <div class="modal-text">
            To share this file, create or copy a shareable link below.
          </div>
          <div class="modal-subtext">
            Anyone with this link can view this file -- even non-Filebase users.
          </div>
          <div class="modal-subtext" style="margin-top: 25px">
            Links expire after 7 days.
          </div>
          <div class="modal-subtext" style="margin-top: 10px">
            For more granular control, you may generate a new link at anytime or
            delete it. Both will cause the link to no longer work for anyone who
            has it.
          </div>
          <br />
          <div class="button-container">
            <button id="cancel-file-share-button">Cancel</button>
            <a class="copy-file-link-button">Copy link</a>
            <button class="create-file-link-button">Create new link</button>
            <button class="delete-file-link-button">Delete link</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
